.CoveoSearchInterface .coveo-search-section {
    margin-top: 0% !important;
    margin-right: 0% !important;
    margin-bottom: 20px !important;
    position: relative !important;
    max-width: 100% !important;
    padding: 0 0 0 28% !important;
}

.CoveoSearchbox .magic-box {
    border-left: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-sizing: border-box !important;
    color: #666 !important;
}

.CoveoSearchButton {
    background-color: white !important;
    border: none !important;
    border-right: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.CoveoSearchbox .magic-box .magic-box-input {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.CoveoSearchInterface .coveo-main-section{
    max-width: 1320px !important;
    

}

.CoveoSearchInterface .coveo-facet-column{
    margin-top: -82px !important;
    padding: 13px 30px 0px 0 !important;
}

.CoveoDynamicFacet, .CoveoDynamicFacetRange, .CoveoDynamicHierarchicalFacet {
    padding: 15px 20px !important;
    border-radius: 5px !important;
    border: 1px solid #eee !important;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 10%) !important;
}

.CoveoSearchInterface .coveo-results-column {
    background-color: white !important;
    padding: 10px 25px !important;
    border-radius: 5px !important;
    border: 1px solid #eee !important;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 10%) !important;
}

.categoryPageSearch * {
    max-height: 35px !important;
}

.magic-box-icon {
    display: none !important;
}

.breadcrumbs {
    align-self: flex-start !important;
}

.CoveoSearchInterface .coveo-results-column.coveo-no-results {
    margin: 0 0 0 28% !important;
}

coveocasedeflection .CoveoSearchInterface .coveo-results-column.coveo-no-results {
    display: none !important;
}

coveocasedeflection .CoveoSearchInterface.Coveostate.CoveoComponentState.CoveoComponentOptions.CoveoQueryController.CoveoDebug.coveo-after-initialization {
    position: sticky !important;
    top: 50px !important;
}

coveocasedeflection .case-deflection-text {
    position: sticky;
    top: 50px;
}

