<div class="container-divider"></div>
<div id="searchbox"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
  </nav>
  <div class="extension info">
    <div>
      Data Privacy Notice
    </div>
    <div>
      Adobe technical support may require access to your Adobe Commerce related data in order to provide support. The primary Adobe Commerce account holder can choose to provide this authorization in their Adobe Commerce account privacy settings. Allowing this access prior to  support request creation will help ensure the issue can be properly investigated and/or help increase the speed of resolution.
      <br>
      For more information, please visit: 
      <a href='https://experienceleague.adobe.com/docs/commerce-knowledge-base/kb/announcements/commerce-announcements/adobe-support-customer-data-access-and-privacy.html?lang=en' target='_blank'>Adobe support customer data access and privacy</a>
    </div>
  </div>
  <h1>
    {{t 'submit_a_request'}}
    <span class="follow-up-hint">
      {{follow_up}}
    </span>
  </h1>
  <div id="main-content" style="display:flex;">
    <div style="flex: 50%; margin-right:30px" class="form">
      {{request_form wysiwyg=true}}
    </div>
    <CoveoCaseDeflection style="flex: 50%; margin-top:18px" data-throttle-time=7000>
      <div id="case-deflection-text" class="case-deflection-text">
        <h2 style="margin-bottom: 5px;">Suggested Articles</h2>
        <p style="margin: 5px 0 5px 0; font-size:15px; color: #313a45;">Based on your input, here are some articles that can help with your issue.</p>
      </div>
    </CoveoCaseDeflection>
  </div>
</div>

<script>
  $("body").addClass("no-subfooter");
  $(".submit-a-request").addClass("hide");

  document.addEventListener("DOMContentLoaded", function(event) {
    let caseDeflectionComponent = null;
    setTimeout(() => {
      while(caseDeflectionComponent == null) {
        caseDeflectionComponent = document.getElementById('CoveoSearch')
      }
      caseDeflectionComponent.prepend(document.getElementById('case-deflection-text'))
    }, "500");
  });

  //add target blank to existing and future links in the case deflection component
  document.addEventListener("DOMContentLoaded", function(event) {
    let caseDeflectionComponent = null;
    setTimeout(() => {
      while(caseDeflectionComponent == null) {
        caseDeflectionComponent = document.getElementById('CoveoSearch')
      }
      let links = caseDeflectionComponent.getElementsByTagName('a');
      for (let i = 0; i < links.length; i++) {
        links[i].setAttribute('target', '_blank');
      }
      caseDeflectionComponent.addEventListener('DOMNodeInserted', function(e) {
        let links = caseDeflectionComponent.getElementsByTagName('a');
        for (let i = 0; i < links.length; i++) {
          links[i].setAttribute('target', '_blank');
        }
      });
    }, "500");
  });
 
document.addEventListener("DOMContentLoaded", function(event) {
  if(HelpCenter.user) {
    let uid = HelpCenter.user.identifier;
    coveoua("set", 'uid', uid);  
  }
})

 
</script>
